<center>
<%= link_to "create an article", new_article_path%>
<h1>List of all articles</h1>
</center>
<%= render 'article', obj: @articles %>

<center>
	<%= link_to 'New Article', new_article_path %>
</center>