<!DOCTYPE html>
<head>
</head>
<body>
	
  <div class="jumbotron">
  <h1>User blog</h1>
  <p>...</p>
  <p>
  	<%= link_to "Register", new_glsuser_path, class: "btn btn-primary btn-lg ", id: "registerBtn"%>
  </p>
</div>
</body>
</html>
