<div class="row">
	<div class="col-sm-10 col-sm-offset-2">		
		<h2>Address Detail</h2>
	</div>
	<% if @address %>
		<div class="well col-sm-8 col-sm-offset-2">
			<%= render 'show_address', obj: @address%>
		</div>
	<% end %>
</div>