//custom style
//Home Page
$navbar-default-bg: black;
#logo {
	float:left;
	font-size:1.7em;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-weight:bold;
	height: 5vh;
}
#logo:hover{	
	color:#fff;
	text-decoration: none;
}
.center{
	text-align:center;
}
#registerBtn{
	color:#fff;
}
.list_users_table{
	text-align:left;
	border-collapse: collapse;
	border:1px solid black;
}
.jumbotron{
	background-image: asset-url('global_users');
	background-size:cover;
	opacity: 0.8;
	height: -o-calc(100vh); /* opera */
	height: -webkit-calc(100vh); /* google, safari */
	height: -moz-calc(100vh); /* firefox */
}
.jumbotron h1{
	color: #fff !important;
}
.main-content{
	min-height: -o-calc(100vh - 10vh); /* opera */
	min-height: -webkit-calc(100vh - 10vh); /* google, safari */
	min-height: -moz-calc(100vh - 100vh); /* firefox */
}
.detail-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
	margin-top: 5px;
	clear: both;
}
.detail-user-content{
	padding-top:0 !important;
}
.description{
	margin-top: 0;
}

.login-text{
	color:#fff;
}

//global

.panel li{
	text-align: left;
}

.category_name_dsp{
	list-style: none;
}

.category_name_dsp .name{
	font-size:25px;
	font-weight: bold;
}

footer{
	float: none;
	clear: both;
	margin-top: 10px;
	padding-top: 10px;
	height:5vh;
}
footer small{
	float: left;
}
footer li a:hover{
	color:blue;
	background-color:#fff;
}
footer li{
	list-style: none;
}
 footer ul{
 	float: right;
 	display: block;
 }

html, body{
	margin:0;
	min-height: 100vh;
}


//bootstrap default style
@import "bootstrap-sprockets";
@import "bootstrap";