<div class="container">
	<footer>
		<small>Copywrite &copy; <a href="https://www.udemy.com">Udemy</a></small>	
		<nav>
			<ul>
				<li><%= link_to "about", about_path%></li>
			</ul>
		</nav>
	</footer>
</div>